* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: sans-serif;
    background: #fd030367;
  }

  .header {
    text-align: center;
    text-transform: uppercase;
    padding: 50px;
    background-color: #ff6d6dec;
    color: #ffffff;
    border-bottom: 4px solid #6e5656;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }
  